.header {
  height: 16vw;
  width: 100vw;
  padding-left: 3vw;
  padding-right: 5vw;
  font-size: 6vw;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #7163c8;
}
.content {
  padding-bottom: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  position: fixed;
  height: 16vw;
  width: 100vw;
  padding-left: 3vw;
  padding-right: 5vw;
  font-size: 6vw;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background-color: #7163c8;
}
.search-container {
  width: 100vw;
  margin-top: 16vw;
  padding-top: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-input-div {
  height: 10vw;
  width: 60vw;
  display: flex;
  align-items: center;
  padding-left: 5vw;
  border: solid #999;
  border-right: 0;
  border-top-left-radius: 5vw;
  border-bottom-left-radius: 5vw;
}
.search-input {
  width: 40vw;
  font-size: 5vw;
  border: 0;
  outline: 0;
}
.search-icon {
  height: 10vw;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5vw;
  border-bottom-right-radius: 5vw;
  color: #fff;
  background-color: #7163c8;
  border: solid #7163c8;
  z-index: -1;
}
.type-container {
  width: 80vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  display: flex;
  justify-content: space-between;
}
.type-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.type-icon {
  height: 12vw;
  width: 12vw;
  background-color: #999;
  border-radius: 6vw;
}
.type-text {
  padding-top: 2vw;
}
.type-all-icon {
  height: 12vw;
  width: 12vw;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-around;
}
.type-icon-item {
  height: 5vw;
  width: 5vw;
  background-color: #7163c8;
}
.scene-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scene-div {
  height: 24vw;
  width: 80vw;
  margin-bottom: 6vw;
  padding-left: 2vw;
  padding-right: 2vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 0.1vw #ccc;
  border-radius: 1vw;
}
.scene-image {
  height: 20vw;
  width: 24vw;
  border-radius: 1vw;
}
.scene-text {
  height: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-goup {
  display: flex;
  flex-direction: row;
}
.title-item {
  margin-left: 1vw;
}
.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.label-group {
  display: flex;
  flex-direction: row;
}
.label-item {
  margin-left: 1vw;
}
.span {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  color: #999;
  border: solid 0.1vw;
  border-radius: 0.5vw;
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-item{
  height: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1vw;
}
.footer-logo{
  height: 20vw;
  width: 20vw;
  background-image: url('../../static/images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.color0 {
  background-color: #2d6da8;
}
.color1 {
  background-color: #449772;
}
.color2 {
  background-color: #c06125;
}
.color3 {
  background-color: #e7dc5e;
}
.orange {
  color: orange;
}
.grey {
  color: #999;
}
.red {
  color: rgb(231, 73, 73);
}
.bold {
  font-weight: 900;
}
css-icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  font-size: 20px;
  box-sizing: border-box;
  text-indent: -9999px;
  vertical-align: middle;
  position: relative;
}
css-icon::before,
css-icon::after {
  content: "";
  box-sizing: inherit;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.icon-location::before {
  width: 0.8em;
  height: 0.8em;
  border: 2px solid;
  border-radius: 50% 50% 50% 0;
  -ms-transform: translate(-50%, -60%) rotate(-45deg);
  transform: translate(-50%, -60%) rotate(-45deg);
}
.icon-location::after {
  width: 0.3em;
  height: 0.3em;
  border: 2px solid;
  border-radius: 50%;
  -ms-transform: translate(-50%, -0.25em);
  transform: translate(-50%, -0.25em);
}
.icon-message {
  border: solid transparent;
  border-width: .05em .05em .3em;
  border-radius: 3px;
  box-shadow: inset 0 2px, inset -2px 0, inset 2px 0;
}
.icon-message::before {
  width: .85em; height: 2px;
  border-left: calc(2px + .1em) solid;
  border-right: calc(.5em - 2px) solid;
  top: 100%;
}
.icon-message::after {
  width: .3em; height: .3em;
  border-style: solid;
  border-width: 0 0 2px 2px;
  left: calc(2px + .1em); 
  top: calc(100% - 0.1242em);
  -ms-transform: skewY(-45deg);
  transform: skewY(-45deg);
}
.icon-search::before {
  width: 0.75em;
  height: 0.75em;
  border: 2px solid;
  border-radius: 50%;
  left: 5%;
  top: 5%;
  -ms-transform: translate(0, 0) rotate(45deg);
  transform: translate(0, 0) rotate(45deg);
}
.icon-search::after {
  width: 0.4em;
  border-top: 2px solid;
  left: 80%;
  top: 80%;
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.icon-share {
  border: solid transparent;
  border-width: 2px 2px 0 0;
  box-shadow: inset 0 -2px, inset 2px 0;
}
.icon-share::before {
  width: .4em; height: .4em;
  border-style:  solid;
  border-width: 0 2px 2px 0;
  left: 100%; top: .2em;
  -ms-transform: translate(-125%, -50%) rotate(-45deg);
  transform: translate(-125%, -50%) rotate(-45deg);
}
.icon-share::after {
  width: .6em; height: .6em;
  border-style:  solid;
  border-width: 2px 0 0 2px;
  border-radius: 75% 15%;
}

.icon-eye::before {
  width: .9em; height: .9em;
  border: 2px solid;
  border-radius: 70% 15%;
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.icon-eye::after {
  width: .5em; height: .5em;
  border: 2px solid;
  border-radius: 50%;
}
.icon-person::before {
  width: .45em; height: .45em;
  border: 2px solid;
  border-radius: 50%;
  top: 25%;  
}
.icon-person::after {
  width: .9em; height: .4em;
  border: 2px solid;
  border-radius: 50% 50% 0 0;
  top: 75%;
}