.progress-header {
  height: 16vw;
  width: 100vw;
  font-size: 6vw;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #7163c8;
}
.progress-header-bg {
  height: 16vw;
}
.progress-footer-bg {
  height: 16vw;
}
.progress-img {
  height: 70vw;
  width: 100vw;
  background-image: url("../../static/images/bg_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.progress-content {
  width: 100vw;
  padding: 10vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.progress-title {
  font-size: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: orange;
  font-weight: 900;
}
.progress-point {
  height: 3vw;
  width: 3vw;
  margin-right: 2vw;
  background-color: orange;
  border-radius: 3vw;
  border: solid #666 0.5vw;
}
.progress-lock{
    margin-left: 3vw;
    padding: 0.2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 4vw;
    font-weight:normal;
    color: #999;
    border: solid 0.3vw;
    border-radius: 1vw;
}
.progress-text {
  margin-left: 1.5vw;
  padding: 2vw;
  border-left: solid #666 0.1vw;
}
.progress-tip {
  margin-top: 4vw;
  color: #999;
  font-size: 4vw;
}
.progress-grey-point {
  background-color: #fff;
}
